## Core functionality
django==3.0.*
django-grappelli==2.14.*


## Extra
django-import-export
sphinx==3.1.*
sphinx_rtd_theme
sphinxcontrib-bibtex
django-extensions


## Heroku
gunicorn
psycopg2-binary
dj-database-url
# pylibmc


## Continuous Integration
pycodestyle

