## Core functionality
django==1.11.6
django-grappelli==2.10.1


## Extra
django-import-export
sphinx
sphinx_rtd_theme
django-extensions


## Heroku
gunicorn
psycopg2
dj-database-url
# pylibmc


## Continuous Integration
pycodestyle

