## Core functionality
django==2.1.4
django-grappelli==2.12.2


## Extra
django-import-export
sphinx==1.8.3
sphinx_rtd_theme
sphinxcontrib-bibtex
django-extensions


## Heroku
gunicorn
psycopg2
dj-database-url
# pylibmc


## Continuous Integration
pycodestyle

